@media (max-width: 1200px) {
   .container {
      width: 100%;
   }
   .owl-carousel .item {
      min-height: 600px;
      margin: 0;
   }
}

/* *********************** */

@media (max-width: 991px) {

 h2 {
    font-size: 2.5rem !important;
 }

   /* NAVBAR */

   .navbar-toggler i {
      color: white;
      background-color: var(--main-color);
      padding: 10px 15px;
      border-radius: 3px;
   }

   .navbar-toggler:focus {
      outline: none;
   }

   .navbar-nav {
      text-align: center;
   }

   .btn-navbar {
      margin: 0 auto;
      margin-bottom: 1rem;
      display: none;
   }

   .btn-navbar .d-block {
      display: block;
   }

   /* HEADER */

   .header__inner__text h1 {
      font-size: 3rem;
   }

   .header {
      height: calc(90vh - 157px);
   }

   /* FEATURES */

   .features .title {
      text-align: left !important;
   }

      /* OFFER */

   .offer__inner button {
      margin-top: 1rem;
   }

   /* TESTIMONIALS */

   .test__inner .item-img {
      width: 40%;
   }

   .test__inner h2 {
      font-size: 1.5rem !important;
   }

   .test__inner h5 {
      font-size: 1rem;
   }

   /* WHY */
   .why__inner {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   /* MARK */

   .mark__icon {
      margin: 0;
      margin-right: 1rem;
   }
}


@media (max-width: 767px) {
   .up__navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   
   .up__navbar__details {
      margin-bottom: 1rem;
   }

   /* HEADER */

   .header__inner__img {
      padding-top: 3.5rem;

   }

   .header {
      height: 100%;
      text-align: center;
   }

   .header__inner__text hgroup {
      margin: 0 auto;
   }

   /* FEATURES */

   .features .title {
      text-align: center !important;
   }

   .features__inner__item hgroup {
      display: flex;
      flex-direction: column;
   }

   .features__inner__item hgroup i {
      margin-bottom: .5rem;
   }

   .features__inner__item p {
      text-align: center;
   }

   /* DEMO */

   .offer .title {
      text-align: center !important;
      margin-bottom: 1rem;
   }

   /* PRODUCTS */

   .owl-custom img{
      width: 40% !important;
   }

   /* WHY */

   .why__inner__img {
      margin-bottom: 2rem;
   }

   /* MARK */

   .mark__inner__item {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 2rem;
   }

   .mark__icon {
      margin: 0;
      margin-bottom: 1rem;
   }

   /* CONTACT */

   .contact__details {
      margin-top: 4rem;
   }

   /* FOOTER */

   .footer__inner > div {
      margin-bottom: 1.5rem;
   }

   .footer__copy h5 {
      font-size: 1rem;
   }
}

@media (max-width: 576px) {
   .up__navbar__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}