@media (max-width: 1200px) {
   .container {
      width: 100%;
   }
   .owl-carousel .item {
      min-height: 600px;
      margin: 0;
   }
}

@media (max-width: 991px) {

 h2 {
    font-size: 2.5rem !important;
 }

   /* NAVBAR */

   .navbar-toggler i {
      color: white;
      background-color: var(--main-color);
      padding: 10px 15px;
      border-radius: 3px;
   }

   .navbar-toggler:focus {
      outline: none;
   }

   .navbar-nav {
      text-align: center;
   }

   .btn-navbar {
      margin: 0 auto;
      margin-bottom: 1rem;
      display: none;
   }

   .btn-navbar .d-block {
      display: block;
   }

   /* HEADER */

   .header__inner__text h1 {
      font-size: 3rem;
   }

   .header {
      height: calc(90vh - 157px);
   }

   /* FEATURES */

   .features .title {
      text-align: left !important;
   }

      /* OFFER */

   .offer__inner button {
      margin-top: 1rem;
   }

   /* TESTIMONIALS */

   .test__inner .item-img {
      width: 40%;
   }

   .test__inner h2 {
      font-size: 1.5rem !important;
   }

   .test__inner h5 {
      font-size: 1rem;
   }
}